doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')

  body
    block content
 
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/popper.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/all.min.js")
    script(src="/javascripts/scripts.js")
    script(src="/chart.js/Chart.bundle.minjs")
    script(src="/chart.js/Chart.min.js")
