:root {
  --color-primario: #031F73;
  --color-secundario: #0A58BF;
  --color-terciario: #0B79D9;
  --color-contrastante: #F23D6D;
  --color-claro: #021B78;

  --color-texto-primario: #FFFFFF;
  --color-texto-secundario: #CFCFCF;

  /**
   * transparencia 10: 1A
   * transparencia 20: 33
   * transparencia 30: 4D
   * transparencia 40: 66
   * transparencia 50: 80
   * transparencia 60: 99
   * transparencia 70: B3
   * transparencia 80: CC
   * transparencia 90: E6
   */
}

body {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

button {
  outline: none!important;
}

.local-nav-bar {
  background-color: var(--color-primario);
  font-weight: bolder;
}

.local-nav-bar-transparent {
  background-color: #0A58BFB3;
  transition: linear cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.local-brand {
  font-size: 25px;
}

.local-nav-link {
  color: var(--color-texto-secundario)!important;
}

.local-nav-link:hover {
  color: var(--color-texto-primario)!important;
}

.local-background-contrast {
  background-color: var(--color-contrastante);
}

.local-text-primary {
  color: var(--color-texto-primario);
}

.local-text-secondary {
  color: var(--color-texto-secundario);
}

.local-container {
  height: 100vh;
}
